@model ZZL.LeaveMessage.Web.Models.MessageViewModel
@{
    ViewBag.Title = "LeaveMessage";
}


@using (Html.BeginForm("LeaveMessage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("returnUrl", (string)ViewBag.returnUrl)
    <div class="form-group">
        <label for="Title" class="col-md-2">标题</label>
        <div class="col-md-4">
            @Html.TextBoxFor(s => s.Title, new { @class = "form-control", placeholder = "请输入标题" })
            @Html.ValidationMessageFor(s => s.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="Content" class="col-md-2">内容</label>
        <div class="col-md-4">
            @Html.TextAreaFor(s => s.Content, 10, 8, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2"></label>
        <div class="col-md-4">
            <input type="submit" value="提交" class="btn btn-dark" />
            <a href="@ViewBag.returnUrl" class="btn btn-danger">返回</a>
        </div>
    </div>

}