<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundle/bootstrap/css")

    @RenderSection("styles", false)
</head>
<body>

    <nav class="navbar navbar-dark" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">留言板</a>
            </div>
            <ul class="nav-navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Register","Account",new { returnUrl=Url.Encode(Request.RawUrl)})"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="@Url.Action("Login","Account",new { returnUrl=Url.Encode(Request.RawUrl)})"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                }
                else
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>@User.Identity.Name</a></li>
                    <li><a href="@Url.Action("LoginOut","Account")"><span class="glyphicon glyphicon-user"></span>退出</a></li>
                }

            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundle/jquery")
    @Scripts.Render("~/bundle/bootstrap/js")
    @RenderSection("scripts", false)
</body>
</html>
